@charset "utf-8";
@import url(font.css);

:root {
    /* size */
    --min-width: 280px;
    --max-width: 600px;
    /* --form-height: 48px; */
    
    /* color */
    --c-transparent : transparent;
    --c-white: #ffffff;
    --c-gray1: #fafafa;
    --c-gray2: #f5f5f5;
    --c-gray3: #f0f0f0;
    --c-gray4: #eeeeee;
    /* --c-gray5: #e0e0e0; */
    --c-gray5: #e1e1e1;
    --c-gray6: #bdbdbd;
    --c-gray7: #9e9e9e;
    --c-gray8: #757575;
    --c-gray9: #616161;
    --c-gray10: #212121;
    --c-black: #000000;

    --c-blue1: #f4f6fb;
    --c-blue2: #dce8f6;
    --c-blue3: #3771f9;
    --c-blue4: #2f63dd;

    /* point color */
    --c-red: #ff3b30;
    --c-mint: #11a3b3;
    --c-mint2: #0D8F9D;
    --c-green0: #eaf5ef;
    --c-green1: #6bd68a;
    --c-green2: #1abe58;
    --c-green3: #2f995d;


    /* font size */
    --fs-t1: 28px;
    --fs-t2: 24px;
    --fs-t3: 20px;
    --fs-t4: 18px;
    --fs-t5: 16px;
    --fs-t6: 14px;
    --fs-t7: 13px; 
    --fs-t8: 12px;
    --fs-t9: 11px;

    /* headding */
    --fs-h1: 28px;
    --fs-h2: 24px;
    --fs-h3: 20px;
    --fs-h4: 18px;
    --fs-h5: 16px;

    /* font-family */
    --font: 'SamsungOne';
  }
  

  .w100{width:100% !important;}
::placeholder { color: var(); }
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration { display:none; }

/* 
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }

.overflow-hidden { overflow: hidden; }
.overflow-y { overflow-y: auto; }

.d-none { display: none !important; }
.d-block { display: block !important; }
.d-flex { display: flex !important; }

.d-flex-start { display: flex !important; justify-content: flex-start; align-items: center;}
.d-flex-center { display: flex !important; justify-content: center; align-items: center;}
.d-flex-between { display: flex !important; justify-content: space-between; align-items: center;}
.d-justify-center { display: flex !important; justify-content: center;}

.flex-wrap { flex-wrap: wrap; }
.flex-column {display:flex; flex-direction: column; width: 100%;}
.flex-column-center {display:flex; flex-direction: column; width: 100%; justify-content: center; align-items: center;}
.h-full-center {position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%, 50%); padding: 0 30px;}
.white-nowrap { white-space: nowrap; }
.white-preline { white-space: pre-line; }



.w100 { width: 100px !important; }
.w10p { width: 10% !important; }
.w20p { width: 20% !important; }
.w30p { width: 30% !important; }
.w40p { width: 40% !important; }
.w50p { width: 50% !important; }
.w60p { width: 60% !important; }
.w70p { width: 70% !important; }
.w80p { width: 80% !important; }
.w90p { width: 90% !important; }
.w95p { width: 95% !important; }
.w100p { width: 100% !important; }

.mw100p { max-width: 100% !important; }
.mnh100p { min-height: 100% !important; }

.h100p { height: 100% !important; } */
.p0 { padding: 0 !important; }
.p20 { padding: 20px !important; }
.pt0 { padding-top: 0 !important; }
.pt10 { padding-top: 10px !important; }
.pb0 { padding-bottom: 0px !important; }
.pb10 { padding-bottom: 10px !important; }
.pl10 { padding-left: 10px !important; }
.pr10 { padding-right: 10px !important; }
.pt20 { padding-top: 20px !important; }
.pl20 { padding-left: 20px !important; }
.pl30 { padding-left: 30px !important; }
.pr20 { padding-right: 20px !important; }
.pr30 { padding-right: 30px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb60 { padding-bottom: 60px !important; }

.m0 { margin: 0 !important; }
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.mt5 { margin-top: 5px !important; }
.ml5 { margin-left: 5px !important; }
.mr0 { margin-right: 0px !important; }
.mt10 { margin-top: 10px !important; }
.ml10 { margin-left: 10px !important; }
.mb10 { margin-bottom: 10px !important; }
.mr10 { margin-right: 10px !important;}
.mt15 { margin-top: 15px !important;}
.mb15 { margin-bottom: 15px !important;}
.mt20 { margin-top: 20px !important; }
.mb20 { margin-bottom: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb36 { margin-bottom: 36px !important; }
.mt40 { margin-top: 40px !important; }
.mb40 { margin-bottom: 40px !important; }
.mt50 { margin-top: 50px !important; }
.mb50 { margin-bottom: 50px !important; }
.mt60 { margin-top: 60px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb66 { margin-bottom: 66px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb80 { margin-bottom: 80px !important; }
.mt98 { margin-top: 98px !important; }
.mb100 { margin-bottom: 100px !important; }


.blind{
    position: absolute !important;
    left: 0px !important;
    top: 0px !important;
    width: 1px !important;
    height: 1px !important; 
    opacity: 0 !important; 
    overflow: hidden;
    margin-left: -1px !important;
    border: 0 none !important;
    background: transparent !important;
    color: transparent !important; 
    clip: rect(1px, 1px, 1px, 1px);
}

/* :focus {
    outline: 3px solid var(--c-blue3);
    border-radius: inherit !important;
    outline-offset: 0 !important;
    z-index: 1;
}    */

.ellipsis {
    display: block !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ellipsis2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

body.fixed {position: fixed;}







/* --------------------------------- 
            * LayOut 
 ---------------------------------- */


 

/* 부트스트랩 Reset  */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, 
footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {

    font-family: "SamsungOne", "SamsungSharpSans", "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    
}

a {text-decoration: none;}
button {border:0; outline:none !important; box-shadow:none !important;}


.top-area { background-color: var(--c-blue2);} 
.left-area { background-color: var(--c-blue2); height: 100%;} 


.right-area {margin-left: 0; padding-left: 0; min-width: 1260px;}

.right-area .tab-menu { padding-left: 10px;}

.right-area .top-menu {height: 40px; /*background: var(--c-gray2);  padding-right: 10px; */}
.right-area .top-menu .small-zoom {background:#fff url(../img/icon/top_zoom.svg) no-repeat center; width: 28.8px; height: 28.8px; border: 1px solid #E0E0E0; border-radius: 2px;}
.outer_box.closedLnb .small-zoom{background-image:url(../img/icon/top_zoom_closed.svg);}

.right-area .top-menu .tab-menu {display: flex; justify-content: space-between; align-items: center; width: 100%; padding:0 7px 0 12px; background: var(--c-gray2);}
.right-area .top-menu .tab-menu nav {flex: 1; margin-left: 10px;}
.right-area .top-menu .tab-menu nav .nav-tabs {border-bottom: 0;}
.right-area .top-menu .tab-menu nav .nav-tabs {border-bottom: 0; padding-top: 7px;}
.right-area .top-menu .tab-menu nav .nav-link {font-size: var(--fs-t6); height: 33px; color: var(--c-gray9); position: relative; }
.right-area .top-menu .tab-menu nav .nav-link:first-of-type::after {display: none;}
.right-area .top-menu .tab-menu nav .nav-link::after {display: block; content:''; position: absolute; top:10px; left:0; width: 1px; height: 17px; background: var(--c-gray5);}
.right-area .top-menu .tab-menu nav .nav-link:hover {border: 1px solid transparent; }
.right-area .top-menu .tab-menu nav .nav-link.active:hover {border: 1px solid transparent;}
.right-area .top-menu .tab-menu nav .nav-link.active {color: var(--c-gray10); border-color: var(--c-white); border-radius: 4px 4px 0 0;}
.right-area .top-menu .tab-menu nav .nav-link.active + .nav-link::after {display: none;} 
.right-area .top-menu .tab-menu nav .nav-link + .nav-link.active::after {display: none;} 
.right-area .top-menu .tab-menu nav .nav-tabs .closed {display: inline-flex; margin-left: 4px; width: 8px; height: 8px; background: url(../img/icon/tab_close.svg) no-repeat;  margin-bottom: 2px;}

/* .right-area .top-menu .tab-menu nav .nav-tabs .nav-link:hover, 
.right-area .top-menu .tab-menu nav .nav-tabs .nav-link:focus {isolation: isolate; border: 0} */
/* .right-area .top-menu .tab-menu nav .nav-tabs .nav-link.active, 
.right-area .top-menu .tab-menu nav .nav-tabs .nav-item.show .nav-link {border: 1px solid transparent;} */

.right-area .top-menu .btn-set {display: flex; justify-content: center; align-items: center;}
.right-area .top-menu .btn-set .btn-prev  {border: 0; width: 16px; height: 16px; background: url(../img/icon/arrow.svg) no-repeat; background-size: cover;  padding: 0;  margin-right: 10px}
.right-area .top-menu .btn-set .btn-next  {border: 0; width: 16px; height: 16px; background: url(../img/icon/arrow02.svg) no-repeat;  background-size: cover;  padding: 0;  margin-right: 10px}
.right-area .top-menu .btn-set .btn-close {border: 0; width: 16px; height: 16px; background: url(../img/icon/close.svg) no-repeat; background-size: cover; padding: 0; }





/* 타이틀 */
/* .title-area {display: flex; justify-content: space-between; align-items: center;} */
.title-area .title {display: flex; align-items: center;justify-content: center}
.title-area .title .bookmark {width: 16px; height: 16px;  background: url(../img/icon/star_off.svg) no-repeat;  padding:0; margin:0 4px 3px 0;}
.title-area .title .bookmark.active {background: url(../img/icon/star_on.svg) no-repeat;}
.title-area .title h2 {font-size: var(--fs-t5); font-weight: 700; color: var(--c-gray10); padding:0; margin:0;}

/* .title-area .path ul {display: flex; justify-content: flex-start; align-items: center;} */
.title-area .path ul {margin: 0; padding:0;}
.title-area .path ul li {font-size: var(--fs-t7); color: var(--c-gray9); display: flex; align-items: center;}
.title-area .path ul li:first-of-type::before {display: none;}
.title-area .path ul li::before {display: inline-flex; content:''; width: 16px; height: 16px; margin: 0 4px 0; background: url(../img/icon/arrow_right.svg) no-repeat;}
.title-area .path ul li:last-of-type {font-weight: 700}



/* 콘텐츠 탭 */
.content-tab {}
.content-tab .nav-pills{border-bottom: 1px solid var(--c-gray5);}
.content-tab .nav-item {height: 30px;}
.content-tab .nav-item + .nav-item {margin-left: 4px;}
.content-tab .nav-item .nav-link  {height: 30px; font-size: var(--fs-t6); padding: 0 18px 0; border-radius: 4px 4px 0 0; background-color: var(--c-gray2); color: var(--c-gray9)}
.content-tab .nav-item .nav-link.active  {background-color: var(--c-blue3); color: var(--c-white)}


.dropdown-menu.show {width: 140px; margin-top: 6px !important;  padding:6px 0;}
.dropdown-menu.show .dropdown-item {font-size: var(--fs-t7)}
/* .dropdown-menu .dropdown-item > span > .form-check-input[type=radio]{display:none;}
.dropdown-menu .dropdown-item > span > .form-check-input[type=radio] + label{position:relative; left:-18px;} */
[singleselect] + .btn-group .dropdown-menu .dropdown-item > span{padding-left:0;}
[singleselect] + .btn-group .dropdown-menu .dropdown-item > span > .form-check-input[type=radio]{display:none;}

.tab-content { width: 100%;}

.condition-search{margin-bottom:30px;}
.condition-search.line{padding:6px 0 15px 0; border-top:1px solid #E0E0E0; border-bottom:1px solid #E0E0E0; margin-bottom:16px;}
.condition-search .row {--bs-gutter-x: 0; position:relative; width:100%;}
.condition-search .row.line{padding:6px 0 15px 0; border-top:1px solid #E0E0E0; border-bottom:1px solid #E0E0E0;}
.condition-search .row > [class *= cell-]{min-height:57px; padding-right:0px;}
.condition-search .row > [class *= cell-] > .con{display:flex; justify-content:space-between; width:100%; min-height:31px; padding-right:15px;}
.condition-search .row > [class *= cell-]:last-child > .con{padding-right:0px;}
.condition-search .row > [class *= cell-] > .con > *{flex:1; margin-right:5px; width:50px;}
.condition-search .row > [class *= cell-] > .con > *:last-child{margin-right:0px;}
.condition-search .row .cell-1{flex:1;}
.condition-search .row .cell-2{flex:2;}
.condition-search .row .cell-3{flex:3;}
.condition-search .row .cell-4{flex:4;}
.condition-search .row .cell-5{flex:5;}
.condition-search .row .cell-6{flex:6;}
.condition-search .row .cell-7{flex:7;}
.condition-search .row .cell-8{flex:8;}
.condition-search .row .cell-9{flex:9;}
.condition-search .row .cell-10{flex:10;}
.condition-search .row + .row{margin-top:10px;}
.condition-search .row [class*="col"] {padding: 0; margin: 0; margin-right: 5px;}
.condition-search .row .field.date{width:auto;}

.condition-search .row > [class *= cell-].ver{display:flex; min-height:auto;}
.condition-search .row > [class *= cell-].ver .form-label{display:flex; align-items:center; width:90px; margin-bottom:0;}

.duble-btn-layout{display:flex;}
.duble-btn-layout > button:first-child{width:calc(50% - 3px);margin-right:3px;}
.duble-btn-layout > button:last-child{width:calc(50% - 2px);margin-left:2px;}


/* 조건 검색 */
.condition-search {position: relative; z-index:1;}
.condition-search .hidden-search {position: relative; border-bottom: 1px solid var(--c-gray5); padding-bottom: 16px; }
.condition-search .hidden-search .inner { bottom:0; height: 1px; overflow: hidden; display: none;}
.condition-search .hidden-search.active .inner {background: transparent; height: 100%; overflow: initial; display: block;}
.condition-search .hidden-search [class*="col"] {z-index: -1;}
.condition-search .hidden-search.active [class*="col"] {z-index: 1;}
.condition-search .hidden-search .search-btn {width: 30px; height: 30px; position: absolute; bottom: calc(-18px); left: calc(50% - 15px); background: url(../img/icon/circle-plus.svg) no-repeat;}
.condition-search .hidden-search.active .search-btn {background: url(../img/icon/circle-minus.svg) no-repeat; bottom: -18px}






/* 라벨*/
.form-label {font-size: var(--fs-t8);}
.form-label.required::after {display: inline-flex; content: '*'; color: var(--c-red); font-size: inherit; margin-left: 4px;}



/* custom-select */
.custom-select {position: relative; display:inline-block; height:30px; margin: 0; padding: 0; vertical-align:top;}
.custom-select select {display: none; /*hide original SELECT element: */}
.custom-select .select-selected {position:absolute; left:0; right:0; background-color: var(--c-white); border: 1px solid var(--c-gray3); border-radius: 4px; height: 30px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; word-break:break-all}
.custom-select .select-selected:after {position: absolute; content: ""; top: 7px; right: 10px; width: 16px; height: 16px; background: url(../img/icon/select_arrow.svg) no-repeat;}
.custom-select .select-selected.select-arrow-active:after { top: 7px; /* background: url(../img/icon/select_arrow.svg) no-repeat; */}

.custom-select .select-items div,
.custom-select .select-selected {display:block; align-items:center; color: var(--c-gray10); font-size: var(--fs-t6); line-height:30px; padding:0 27px 0 7px; border-color: rgba(0, 0, 0, 0.1); cursor: pointer;}
.custom-select .select-items {position: absolute;  border: 1px solid var(--c-gray5);  top: 38px; left: 0; z-index: 99; min-width:100%; border-radius: 4px; padding: 6px 0; background-color: var(--c-white);}
.custom-select .select-hide {display: none;}
.custom-select .select-items div:hover, .same-as-selected {background-color: rgba(0, 0, 0, 0.05);}

.custom-select .select-selected.select-arrow-active {border-color: var(--c-gray10)}


.form-control {width: 100%; height: 30px; min-height:auto; padding-top:0; padding-bottom:0; padding-right:23px; border: 1px solid var(--c-gray5); color:#212121;}
.form-control:focus {border: 1px solid var(--c-gray10); box-shadow: none;}


.condition-search .field{flex:1; width:auto;}
.field {position: relative; display:inline-block; width: 140px;}
.field.min {width: 60px;}
.field .btn-right { position: absolute; top: calc(50% - 8px); right:8px; display: flex; justify-content: space-between; align-items: center;}
.field .btn-right button {border: 0; padding: 0; margin: 0;}
.field .btn-right .clear-btn {width: 16px; height: 16px; display: none; background: url(../img/icon/input_clear.svg) no-repeat; }
.field .btn-right .search-btn2{ width: 16px; height: 16px; background: url(../img/icon/input_search.svg) no-repeat;}


.field.date {position: relative; width: 140px;}
.field.date::after {display: block; content:''; background: url(../img/common/calendar.svg) no-repeat; width: 24px; height: 24px; position:absolute; top:3px; right:3px;}


.space {width:20px; font-size:15px; text-align: center; vertical-align: middle; padding-top: 5px;}






/* button set */
.btn-set {display: flex; align-items: center;}
.btn-set + .btn-set {margin-top: 20px;}

.btn.btn-sm {min-width: 66px;}
.btn + .btn {margin-left: 4px;}

.btn.aw {min-width: 100px;}
.btn.as {min-width: 40px;}
.btn.ah.size_h20, .btn.size_h20{height:20px;}

.btn.ah {min-width: 94px; height: 17px; font-size: var(--fs-t9); line-height: 8px; background:var(--c-white);}



.btn-primary {color: var(--c-white); background-color: var(--c-blue3); border-color: var(--c-blue3);}
.btn-primary:hover {background-color: var(--c-blue4); border-color: var(--c-blue4);}

.btn-color-red {color: var(--c-white); background-color: #FF6F66; border-color: #FF6F66;}
.btn-color-red:hover {color: var(--c-white); background-color: var(--c-red); border-color: var(--c-red);}

.btn.ah.btn-success {color:  var(--c-white); background-color: var(--c-mint); border-color:  var(--c-mint);}
.btn-success:hover {background-color: var(--c-mint2); border-color: var(--c-mint2);}

.btn.disabled,
button.btn[disabled=disabled], 
button.btn:disabled {background-color: var(--c-gray4); color: var(--c-gray6); border-color: var(--c-gray4); pointer-events:none;}


.btn-outline-secondary {color: var(--c-gray9);border-color: var(--c-gray5);}
.btn-outline-secondary:hover {color: var(--c-gray9); background-color: var(--c-gray2); border-color: var(--c-gray5);}
.btn.btn-outline-secondary.disabled,
button.btn.btn-outline-secondary[disabled=disabled], 
button.btn.btn-outline-secondary:disabled {background-color: var(--c-gray4); color: var(--c-gray6); border-color: var(--c-gray4); pointer-events:none;}

.btn-secondary {color: var(--c-gray9); background-color: var(--c-gray2); border-color: var(--c-gray5);}
.btn-secondary:hover {color: var(--c-gray9); background-color: var(--c-gray4); border-color: var(--c-gray5);}
.btn.btn-secondary.disabled,
button.btn.btn-secondary[disabled=disabled], 
button.btn.btn-secondary:disabled {background-color: var(--c-white); color: var(--c-gray6); border-color: var(--c-gray5); pointer-events:none;}


.btn-outline-success {color: var(--c-green3); background-color: var(--c-white); border-color: rgba(47, 153, 93, 0.5)  }
.btn-outline-success:hover {color: var(--c-green3); background-color: var(--c-green0); border-color: var(--c-green3);}
.btn.btn-outline-success.disabled,
button.btn.btn-outline-success[disabled=disabled], 
button.btn.btn-outline-success:disabled {background-color: var(--c-white); color: var(--c-gray6); border-color: var(--c-gray5); pointer-events:none;}


.btn-outline-primary {color: var(--c-blue3); background-color: var(--c-white); border-color: rgba(155, 184, 253, 0.5)  }
.btn-outline-primary:hover {color: var(--c-blue3); background-color: var(--c-blue2); border-color: var(--c-blue3);}
.btn.btn-outline-primary.disabled,
button.btn.btn-outline-primary[disabled=disabled], 
button.btn.btn-outline-primary:disabled {background-color: var(--c-white); color: var(--c-gray6); border-color: var(--c-gray5); pointer-events:none;}





/* 아이콘 */
.btn [class*="icon"] {display: inline-flex; vertical-align: middle; margin-right: 4px; width: 16px; height: 16px;}
.btn .icon-search { background: url(../img/icon/search.svg) no-repeat; }
.btn .icon-excel { background: url(../img/icon/excel.svg) no-repeat; }
.btn .icon-refresh {background: url(../img/icon/refresh.svg) no-repeat; }
.btn .icon-duble-arr-r {position:relative; top:-2px; width:10px; height:11px; margin-left:3px; margin-right:0; vertical-align:middle; background: url(../img/icon/duble-arr-r.svg) no-repeat; }
.btn .icon-arr-d {position:relative; top:-2px; width:10px; height:13px; margin-left:8px; margin-right:0; vertical-align:middle; background: url(../img/icon/arr-d.svg) no-repeat; }

.btn.btn-sm.disabled .icon-excel,
button.btn[disabled=disabled] .icon-excel, 
button.btn:disabled .icon-excel {background: url(../img/icon/excel02.svg) no-repeat;}


.btn.btn-sm.disabled .icon-search,
button.btn[disabled=disabled] .icon-search, 
button.btn:disabled .icon-search {background: url(../img/icon/search02.svg) no-repeat;}

.btn.btn-sm.disabled .icon-refresh,
button.btn[disabled=disabled] .icon-refresh, 
button.btn:disabled .icon-refresh {background: url(../img/icon/refresh02.svg) no-repeat;}




/* 페이지 네비게이션 */

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}
 


.page-link {
    position: relative;
    display: block;
    color:  var(--c-gray10);
    font-size: var(--fs-t7);
    text-decoration: none;
    background-color: #fff;
    border: transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
}

  @media (prefers-reduced-motion: reduce) {
    .page-link {
      transition: none;
    }
  }
  .page-link:hover {
    z-index: 2;
    color: var(--c-blue3);
    background-color: transparent;
    border-color: transparent;
  }
  .page-link:focus {
    z-index: 3;
    color: #0a58ca;
    background-color: transparent;
    outline: 0;
    box-shadow: transparent;
  }
  
  .page-item {
    width: 24px; height: 24px;
    
    }


  .page-item:not(:first-child) .page-link {
    margin-left: 0px;
  }
  
  .page-item.active .page-link {
    /* z-index: 3; */
    color: var(--c-blue3);
    background-color: #fff;
    /* border-color: var(--c-blue3); */
    border-radius: 4px;
    border:1px solid var(--c-blue3);
  }
  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
  }
  
  .page-link {
    display: flex; justify-content: center; align-items: center;
    width: 24px; height: 24px;
    padding: 0; 
    margin: 0;
    text-align: center;
    line-height: 22px;
    /* padding: 0.275rem 0.70rem 0.260rem; */
  }
  .page-link span {
    display: block; padding:0; margin:0;;
  }

  .icon_first{display: block; width: 16px; height: 16px; background: url(../img/icon/page_arrow02.svg); transform: rotate(180deg);}
  .icon_prev {display: block; width: 16px; height: 16px; background: url(../img/icon/page_arrow.svg);transform: rotate(180deg);}
  .icon_next {display: block; width: 16px; height: 16px; background: url(../img/icon/page_arrow.svg);}
  .icon_last {display: block; width: 16px; height: 16px; background: url(../img/icon/page_arrow02.svg);}


  /* .page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  } */

  /* input */
  input[type = text]:disabled{color:#9E9E9E; border: 1px solid #F5F5F5; background-color:#F5F5F5; font-weight:400;}

  /* checkgos */
  .input-box + .input-box{margin-left:10px;}
  .input-box{position:relative; font-size:13px; font-weight:400;}
  .input-box > input{position:fixed; top:-1000%; left:-1000%;}
  .input-box input[type = checkbox] + i{position:relative; top:-2px; display:inline-block; width:16px; height:16px; margin:0 6px 0 0; vertical-align:middle;  border:1px solid #757575; border-radius:2px; background-repeat:no-repeat; background-position:center; background-size:10px 8px; background-color: #fff;}
  .input-box input[type = checkbox]:checked + i{border-color:#3771F9; background-color:#3771F9; background-image:url(../img/icon/icon_checkbox.svg);}
  .input-box input[type = checkbox]:disabled + i{border:1px solid #E0E0E0; background-color:#F5F5F5;}
  .input-box input[type = checkbox]:checked:disabled + i{background-image:url(../img/icon/icon_checkbox_dis.svg);}
  .input-box input[type = checkbox][small] + i{width:12px; height:12px;}

  .input-box input[type = radio] + i{position:relative; top:-2px; display:inline-block; width:16px; height:16px; margin:0 6px 0 0; vertical-align:middle;  border:1px solid #757575; border-radius:100%; background-repeat:no-repeat; background-position:center; background-size:10px 8px;}
  .input-box input[type = radio]:checked + i{border-color:#3771F9; border-color:#3771F9;}
  .input-box input[type = radio]:checked + i:after{content:""; position:absolute; top:50%; left:50%; width:8px; height:8px; border-radius:100%; transform:translate(-50%,-50%); background:#3771F9;}
  .input-box input[type = radio]:disabled + i{border:1px solid #E0E0E0; background-color:#F5F5F5;}
  .input-box input[type = radio]:checked:disabled + i:after{background-color:#E0E0E0;}

  textarea.form-control{padding:8px 10px 10px; font-size:13px; font-weight:400;}


  /* label-card */
  .label-card{display:inline-flex; align-items:center; justify-content:center; width:32px; height:20px; border-radius: 2px; font-size:11px; color:#fff;}
  .label-card.a{background: #11A3B3;}
  .label-card.c{background: #FF6F66;}


  /* table */
  .table-layout{overflow:auto;}
  .table-layout > table{width:100%; font-size:13px; color:#212121; border-collapse:collapse;}
  .table-layout > table > thead > tr > th{font-weight: 700; font-size: 13px; background:#F0F0F0;}

  .table-layout > table > thead > tr > th,
  .table-layout > table > thead > tr > td,
  .table-layout > table > tbody > tr > th,
  .table-layout > table > tbody > tr > td{
    min-height:28px;
    border:1px solid #E0E0E0;
  }
  .table-layout > table > thead > tr > th,
  .table-layout > table > thead > tr > td{
    text-align:center;
    padding:4px 18px;
  }
  .table-layout > table > tbody > tr > th,
  .table-layout > table > tbody > tr > td{
    padding:3px 6px 4px 6px;
  }
  .table-layout > table > tbody > tr > th:hover,
  .table-layout > table > tbody > tr > td:hover{
    color:#3771F9;
    text-decoration:underline;
  }
  .table-layout > table > tbody > tr:hover{background-color:#F5F5F5;}

  /* .table-layout > table > tbody > tr:nth-child(even){background:#F5F5F5;} */

  .text-center{text-align:center !important;}
  .text-left{text-align:left !important;}
  .text-right{text-align:right !important;}


  .icon-x{display:inline-block; width:10px; height:10px; background:url(../img/icon/icon_x.svg) no-repeat center;}

  .icon-small-check{display:inline-block; width:12px; height:12px; background:url(../img/icon/icon_small_check.svg) no-repeat center;}


/* icon btn */
  .icon-btn{display:inline-block; width:20px; height:20px; padding:0; margin:0; vertical-align:middle; border-radius:100%; background:#DCE8F6 no-repeat center;}
  .icon-btn.i-alert{background-image:url(../img/icon/icon_btn_alet.svg);}
  .icon-btn.i-link{width:23px; height:23px; background-color:transparent; background-image:url(../img/icon/icon_btn_link.svg);}

  .btn{text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}





/* 멀티셀럭트 말줄임 대응 */
.condition-search .d-inline-flex{flex:1; min-width:10px;}


/* bookmark */
.icon-bookmark{position:relative; top:0px; display:inline-block; vertical-align:middle; padding:0; margin:0;}
.icon-bookmark > input{position:fixed; top:-1000%; left:-1000%;}
.icon-bookmark > input + i{display:inline-block; width:14px; height:14px; margin-right:8px; background:url(../img/icon-star_outline.svg) no-repeat center;}
.icon-bookmark > input:checked + i{background-image:url(../img/iconp-star_pill.svg);}










/* 여기부터 */
.main-section {display: flex; justify-content: space-between; align-items: flex-start; padding: 40px; box-sizing: border-box;}
.main-section .item {}
.main-section .item .tit {font-size: 28px; color: var(--c-gray10);}
.main-section .item .num {font-size: 56px; font-weight: 700; color: var(--c-gray10);}
.main-section .item .percent {font-size: 18px; display: flex; align-items: flex-end; flex-direction: column;}
.main-section .item .percent::before {display: block; content:''; width: 60px; height: 60px; background-image:url(../img/icon/main_icon01.svg); margin-bottom: 20px}
.main-section .item .percent.plus {color: var(--c-blue3); }
.main-section .item .percent.minus {color: var(--c-red); }
.main-section:nth-of-type(2) .item .percent::before {background-image:url(../img/icon/main_icon02.svg);}
.main-section:nth-of-type(3) .item .percent::before {background-image:url(../img/icon/main_icon03.svg);}


.monthly-fluctuations {padding:30px 35px;}
.monthly-fluctuations .tit { font-size: 26px; font-weight: 700; color: var(--c-gray10); margin-bottom: 60px;}
.monthly-fluctuations .graph {height: 160px; display: flex; align-items: flex-end; justify-content: space-between;  position: relative; margin:0 30px 0;}
.monthly-fluctuations .graph::after {display: block; content:''; height: 1px; width: 100%; background-color: var(--c-gray10); position: absolute; bottom: 0px; left:0; right:0;}
.monthly-fluctuations .graph-labels { background-color: var(--c-gray2); width: 50px; height: 160px}
.monthly-fluctuations .graph-labels:first-of-type {margin-left: 75px}
.monthly-fluctuations .graph-labels:last-of-type {margin-right: 75px}
.monthly-fluctuations .bar {background-color: var(--c-gray2); font-size: 12px; height: 100%;  position: relative;}
.monthly-fluctuations .inner-bar {background-color: #73B3DC; font-size: 12px; position: absolute; bottom:0; left:0; right:0;}
.monthly-fluctuations .inner-bar .num {font-size: 12px; position: absolute; top:-25px; left:0; right:0; text-align: center; font-size: 18px; font-weight: 700;}
.monthly-fluctuations .month-label { text-align: center; font-size: 16px; color: var(--c-gray8); }




.item-section {padding: 30px 35px;}
.item-section .title {display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;}
.item-section .title .tit {font-size: 26px; font-weight: 700; color: var(--c-gray10); }
.item-section .title .date {font-size: 20px;  color: var(--c-gray9); }
.item-section .graph-area ol {width: 565px; margin-left: 80px; display: flex; justify-content: space-between; align-items: center;}
.item-section .graph-area ol li  {font-size: 16px;  color: var(--c-gray8); }


.item-section .horizontal-graph{}
.item-section .horizontal-graph .item {display: flex; align-items: center; justify-content: flex-start; margin-top: 20px}
.item-section .horizontal-graph .item .tit {font-size: 20px; font-weight: 700; color: var(--c-gray10); width: 80px;}
.item-section .horizontal-graph .item .graph {height: 30px; width: calc(100% - 80px); display: flex; align-items: center; justify-content: flex-start;  }
.item-section .horizontal-graph .item .graph .inner-bar {height: 100%; background-color: rgba(150, 206, 117, 0.6);}
.item-section .horizontal-graph .item .graph .num {font-size: 18px; font-weight: 700; color: var(--c-gray10); margin-left: 10px;}






/* 도넛 그래프 */
.donut {justify-content: unset !important}
.chart {position: relative; top: calc(50% - 20px); left: calc(50%); transform: translate(-50%, -50%);  width: 130px; height: 130px; border-radius: 50%; display:inline-flex; }
.chart:after{content:''; background: var(--c-gray2) ; position: absolute; top: 50%; left: 50%; width:110px; height:110px; border-radius: 50%; transform: translate(-50%, -50%);}
.chart-bar{width: inherit; height: inherit; border-radius: 50%; background: conic-gradient(#8DC8ED 160deg, #d6e8f3 50deg); /* 차트 설정 */}
.chart-bar .text {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 100%; font-size: 28px; font-weight: bold; color: var(--c-gray10); z-index: 1;}






/* 로그인 */

html, .wis-height {
  height:100%;
}

.wis-login {width: 100%;height: 100%;position: relative;font-size:20px;}
.wis-login .text {font-size: 14px;}
.wis-login .text strong {display: block; margin-bottom:15px;}
.wis-login .text .s-txt {margin-bottom:20px;}

.wis-login .box {width: 600px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}

.wis-login .box .middle-item {}
.wis-login .box .middle-item::before {display: block; content: ''; width: 50px; height: 50px; margin: 30px auto 30px; background-image:url(../img/icon/mark_Info.svg);}
.wis-login .box .middle-item {text-align: center;}
.wis-login .box .middle-item .b-txt{font-size: 16px; font-weight: 700; color: #212121;}
.wis-login .box .middle-item .m-txt{font-size: 14px;color: #212121; margin: 20px 0 30px}
.wis-login .box .middle-item .m-txt span{color:#FF3B30;}


.wis-login .login {border: 1px solid #E0E0E0;border-radius: 10px;padding: 20px 20px 40px;box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);}
.wis-login .login .top {display: flex; justify-content: space-between; align-items: center; margin-bottom: 25px;}
.wis-login .login .top .text {color:#FF3B30; font-size: 12px;}
.wis-login .copy {color:#757575; font-size: 12px; margin-top: 20px;}
.wis-login .login-btn {display: flex; justify-content: center; align-items: center; width: 300px; margin: 0 auto;}
.wis-login .login-btn button {width: calc(50% - 5px); height: 36px !important; font-size: 14px; font-weight: 700;}

.a {}
