@charset "utf-8";
.outer_box{ width:100%; min-width:1400px; height:100vh; overflow:auto;}
.outer_box.main{min-width:1520px;}


/* GNB */
#gnb {position:relative; height:50px; z-index:10; display: flex; justify-content: space-between; align-items: center; }


#gnb .left-item { display: flex; justify-content: space-between; align-items: center; height: 100%;}

#gnb .menu-wrap {width: 50px; height: 100%; position: relative; border-right: 1px solid var(--c-gray5); margin-right: 20px}
#gnb .menu-wrap input[id="icon"] {display:none;} 
#gnb .menu-wrap input[id="icon"] + label{position: absolute; top:0; left:0; display:block; padding: 17px 15px; width:50px; height:50px; cursor:pointer; z-index: 2;} 
#gnb .menu-wrap input[id="icon"] + label > span {display:block; width:100%; height:2px; background: var(--c-black); transition: all 0.35s; }
#gnb .menu-wrap input[id="icon"] + label > span + span {margin-top: 6px}
#gnb .menu-wrap input[id="icon"]:checked + label > span:nth-child(1) { transform:translateY(-50%) rotate(45deg); margin-top: 11px;}
#gnb .menu-wrap input[id="icon"]:checked + label > span:nth-child(2) {opacity: 0;}
#gnb .menu-wrap input[id="icon"]:checked + label > span:nth-child(3) { transform:translateY(50%) rotate(-45deg); margin-top: -12px;}

#gnb .menu-wrap #icon + label + .side-menu {position:fixed; width:300px; height:100%; background:#333; top:0px; padding:60px 25px 25px 25px; box-sizing:border-box; left:-300px; z-index:1; transition: all 0.35s;}
#gnb .menu-wrap #icon:checked + label + .side-menu {left:0px;}
#gnb .menu-wrap #icon:checked + label + .side-menu > ul > li > a {color: white;}


#gnb .gnb-menu {height:100%;  position: relative;}
#gnb .gnb-menu > ul {display: flex; justify-content: space-between; align-items: center; height:100%; }
#gnb .gnb-menu > ul > li {padding-left: 30px; height: 100%; padding-top:10px; box-sizing: border-box;}
#gnb .gnb-menu > ul > li.active > a {color: var(--c-blue3);}
#gnb .gnb-menu > ul > li > a {font-family: var(--font); font-size: var(--fs-t3); font-weight: 700; color: var(--c-gray10); text-decoration: none; height: 100%;}
#gnb .gnb-menu > ul > li:hover > a {color: var(--c-blue3);}



/* Dropdown menu styles */
#gnb .gnb-menu .sub-menu {display: none; position: fixed; top: 50px; left: 0; right: 0;z-index: 11; width: 100%; background:rgba(0,0,0,0.5);}
#gnb .gnb-menu:hover,
#gnb .gnb-menu .sub-menu:hover,
#gnb .gnb-menu li:hover .sub-menu {display:block;}
#gnb .gnb-menu li:hover .sub-menu .inner-wrap{display: flex; justify-content: center; align-items: flex-start; background-color: var(--c-white); border-top: 1px solid var(--c-gray5);  padding: 33px 0 33px;}
#gnb .gnb-menu li:hover .sub-menu .item {width: 160px;}
#gnb .gnb-menu li:hover .sub-menu .item .tit {font-size: var(--fs-t4); font-weight: 700; color: var(--c-gray10); padding-bottom: 13px; border-bottom: 1px solid var(--c-gray5)}
#gnb .gnb-menu li:hover .sub-menu .item .tit a {font-size: inherit; color: var(--c-gray10);}
#gnb .gnb-menu li:hover .sub-menu .item:hover .tit a {color: var(--c-blue3);}
#gnb .gnb-menu li:hover .sub-menu .item + .item {margin-left: 60px;}
#gnb .gnb-menu .item ul {display: block !important;}
#gnb .gnb-menu .item ul li {display: block; padding-top: 10px;}
#gnb .gnb-menu .item ul li a {font-size: var(--fs-t5); font-weight: 400; color: var(--c-gray10);}
#gnb .gnb-menu .item ul li a:hover {color: var(--c-blue3);}

#gnbDim{position:fixed; top:50px; left:0; right:0; bottom:0; z-index:5; display:none; background:rgba(0,0,0,0.5);}
#gnbDim.open{display:block;}



#gnb .right-item { display: flex; justify-content: space-between; align-items: center; height: 100%; padding-right: 20px;}


#gnb .right-item .txt-menu { margin-left: 20px;}
#gnb .right-item .txt-menu ul {display: flex; justify-content: space-between; align-items: center;}
#gnb .right-item .txt-menu ul li {display: flex; justify-content: space-between; align-items: center;}
#gnb .right-item .txt-menu ul li::before {display: block; content:''; width: 1px; height: 17px; background: var(--c-gray5); margin: 0 5px 0}
#gnb .right-item .txt-menu ul li:first-of-type::before {display: none;}
#gnb .right-item .txt-menu ul li a {font-size: var(--fs-t6); color: var(--c-gray10);}

#gnb .right-item .login-area {margin-left: 20px; position: relative; display: flex; justify-content: center; align-items: center;}
#gnb .right-item .login-area.active .user-info {display: block;}
#gnb .right-item .login-area .user {width: 24px; height: 24px; background: url(../img/icon/user.svg); padding: 0; margin: 0;}


#gnb .right-item .login-area .user-info {display: none; position: absolute; top: 35px; left: 50%; transform: translate( -50%, 0);  width: auto;  border: 1px solid var(--c-gray5); z-index: 1; background: var(--c-white); border-radius: 4px; padding: 10px;}
#gnb .right-item .login-area .user-info .time {display: flex; justify-content: flex-start; align-items: center; font-size: var(--fs-t7); color:  var(--c-gray9); line-height: 12px;}
#gnb .right-item .login-area .user-info .time::before {display: block; content: ''; width: 24px; height: 24px; background: url(../img/icon/clock.svg) no-repeat; margin-right: 5px;}

#gnb .right-item .login-area .user-info .info {margin-top: 10px; margin-bottom: 15px;}
#gnb .right-item .login-area .user-info .info .t1 {font-size: var(--fs-t8); color: var(--c-gray10);}
#gnb .right-item .login-area .user-info .info .t2 {font-size: var(--fs-t7); color: var(--c-gray10); margin-top: 2px;}


#gnb .right-item .custom-select {margin-left: 20px;}
#gnb .right-item .end-box {font-size: var(--fs-t9); color: var(--c-blue3); margin-left: 20px;}





#content{height:calc(100% - 74px); font-size:0; white-space:nowrap;}
#content > .content_wrap{position:relative; display:inline-block; width:calc(100% - 280px); height:100%; vertical-align:top; overflow:auto; background:var(--c-white);}
#content > .content_wrap > .row{padding:0; margin:0; width:100%; height:100%;}
#content > .content_wrap > .row > .right-area{width:100%; min-width:auto; height:100%; margin:0; padding:0;}
#content > .content_wrap > .row > .right-area > .top-menu{height:100%;}
#content > .content_wrap > .row > .right-area > .top-menu > .tab-content{height:calc(100% - 39px); padding:20px 7px 0 20px; overflow:auto;}
#lnb{position:relative; display:inline-block; width:280px; height:100%; font-size:12px; border-right:1px solid var(--c-gray6);}

.content-layout-type{height:calc(100% - 40px);}
.content-layout-type > .tab-pane{/*min-width:1340px;*/ height:100%;}
.content-layout-type > .tab-pane > .content-tab{height:calc(100% - 40px); overflow:auto;}

#lnb .lnb_wrap{position:relative; top:0; right:0; height:100%;}
.lnb_tab{width:100%; height:100%;}
.lnb_tab_tit{display:flex; height:40px; border-bottom:1px solid #E0E0E0; background:#DCE8F6;}
.lnb_tab_tit > ul{display:flex; width:100%; height:100%;}
.lnb_tab_tit > ul > li{position:relative; display:flex; align-items:center; justify-content:center; flex:1; cursor:pointer; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:var(--fs-t6); font-weight:400; line-height:16.76px; letter-spacing:-5%; overflow:visible;}
.lnb_tab_tit > ul > li.active{color:#3771F9; font-weight:bold;}
.lnb_tab_tit > ul > li.active:before{content:""; position:absolute; left:calc(50% - 2px); bottom:-3px; width:13px; height:13px; border-style:solid; border-width:1px 1px 0 0; border-color:#E0E0E0; transform:rotate(-45deg) translate(calc(-50%),0) skew(-5deg, -5deg); background:var(--c-white);}
.lnb_tab_tit > ul > li:hover{text-decoration:underline;}
.lnb_tab_tit > ul > li:nth-child(1n + 2):after{content:""; position:absolute; top:50%; left:0; width:1px; height:20px; transform:translate(0,-50%); background:#BCC7D2;}
.lnb_tab_con{position:relative; z-index:1; height:calc(100% - 40px); overflow:auto; background:#F4F6FB;}
.lnb_tab_con > ul{height:100%;}
.lnb_tab_con > ul > li{display:none; height:100%; overflow:auto;}
.lnb_tab_con > ul > li.open{display:block;}

.lnb_thumb{position:absolute; top:0; bottom:0; right:-20px; z-index:5; display:flex; align-items:center; justify-content:center; width:20px; opacity:0.4; transition:opacity ease 0.5s background-color ease 0.5s; cursor:col-resize;}
.lnb_thumb:hover{opacity:1; background:rgba(255,255,255,0.3);}
.lnb_thumb:before,.lnb_thumb:after{content:""; width:1px; height:12px; border-radius:1px; background:var(--c-gray10);}
.lnb_thumb:after{margin-left:4px;}






.lnb_menu .tit:hover{text-decoration:underline;}
.lnb_menu ul{display:none;;}
.lnb_menu > ul{display:block;}
.lnb_menu ul > li{position:relative;}
li.active > .tit{font-weight:700;}
.lnb_menu > ul > li.active{ border-bottom: 1px solid #ddd;}
.lnb_menu > ul > li > .menu_wrap:after, .lnb_menu > ul > li > .menu_wrap:before{display:none;}

.lnb_menu .tit{position:relative; display:flex; align-items:center; font-family: var(--font); font-weight: 400; font-style: normal; font-size:var(--fs-t5); color:var(--c-black); cursor:pointer; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.lnb_menu > ul > li > .tit{ display:flex; align-items:center; height:40px;  padding:0 16px; font-family: var(--font); font-style: normal; font-weight: 400; font-size: var(--fs-t4); line-height: 22px; color: var(--c-black); border-bottom:1px solid #ddd;}
.lnb_menu > ul > li.active > .tit{font-weight:700;}
.lnb_menu > ul > li > .menu_wrap > ul > li > .tit{height:40px; padding-left:20px; font-size:var(--fs-t5); border-bottom: 1px solid #DBDBDB;}
.lnb_menu > ul > li > .menu_wrap > ul > li:last-child:not(.active) > .tit{border-bottom-width:0;}

.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .tit{padding-left:30px; height:30px; font-size:var(--fs-t6);}
.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li.active > .tit{color:#3771F9;}
.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .tit{height:30px; padding-left:46px; font-size:var(--fs-t6);}
.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li:before{content:""; position:absolute; top:0; bottom:0; left:30px; width:1px; background:var(--c-gray6);}
.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li.active:before{background:#3771F9;}


.menu_wrap{min-width:250px;}
li.active > .menu_wrap > ul{display:block;}





.menu_wrap{position:relative;}

.menu_wrap:before{content:""; position:absolute; top:-28px; right:15px; width:1px; height:12px; transform-origin:0; transform:rotate(0deg); transition:transform ease 0.5s; background:var(--c-gray10);}
.menu_wrap:after{content:""; position:absolute; top:-22px; right:10px;; width:12px; height:1px; background:var(--c-gray10);}
.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap:before{top:-25px;}
.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap:after{top:-19px;}

.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .menu_wrap:before{top:-22px;}
.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .menu_wrap:after{top:-16px;}

.active > .menu_wrap:before{ transform:rotate(90deg);}
.menu_wrap > ul{overflow:hidden; transition:height ease 0.5s;}
.noTransition .menu_wrap > ul{transition:none;}

#footer{display:flex; align-items:center; justify-content:space-between; height:24px; padding:0 20px; border-top: 1px solid #E0E0E0; background:var(--c-white);}
#footer span{color:#616161; font-size:12px;}
.f_icon_moniter{position:relative; display:flex; align-items:center; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 12px; color: #212121;}
.f_icon_moniter:before{content:""; display:inline-block; width:16px; height:16px; margin-right:6px; background:url(../img/footer_img.svg) no-repeat; background-size:cover;}
.f_icon_moniter .connect_info{position:absolute; top:-8px; right:0; display:none; padding:6px 8px; transform:translate(0,-100%);; border:1px solid #E0E0E0; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04); border-radius: 4px; background:#fff;}
.f_icon_moniter:hover .connect_info{display:block;}
.f_icon_moniter .connect_info dl{display:flex; flex-wrap:wrap; width:165px;}
.f_icon_moniter .connect_info dl dt{width:calc(165px - 50px); font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 12px; color:#212121; letter-spacing:-1px;}
.f_icon_moniter .connect_info dl dd{display:flex; justify-content:flex-end; width:50px; font-family: 'SamsungOne'; font-style: normal; font-weight: 700; font-size: 12px; color:#212121;}

/* bookmark */
.bookmark{position:relative; padding:0 0 0 20px; cursor:pointer;}
.bookmark i{position:absolute; top:calc(50% - 7px); left:0; width:14px; height:14px; background:url(../img/icon/star_off.svg) no-repeat center;}
.bookmark input:checked + i{background-image:url(../img/icon/star_on.svg);}
.bookmark input{position:fixed; top:-1000%; left:-1000%;}
.bookmark:hover{text-decoration:underline;}

/* latestMenu */
.latestMenu{position:relative; padding:0 0 0 20px; cursor:pointer;}
.latestMenu i{position:absolute; top:calc(50% - 7px); left:0; width:14px; height:14px; background:url(../img/icon/icon_latestMenu.svg) no-repeat center;}
.latestMenu input:checked + i{background-image:url(../img/icon/icon_latestMenu_checked.svg);}
.latestMenu input{position:fixed; top:-1000%; left:-1000%;}
.latestMenu:hover{text-decoration:underline;}

.lnb_bookMark, .lnb_latestMenu{position:absolute; top:0; left:-100%; bottom:0; display:none; width:100%; padding:21px 13px 0 13px; font-size:var(--fs-t6); font-weight:400;  overflow:auto; background:var(--c-white);}
.lnb_bookMark.active, .lnb_latestMenu.active{left:0; display:block;}
.lnb_bookMark > ul > li + li, .lnb_latestMenu > ul > li + li{margin-top:12px;}



.text-area-wrap .count{margin-top:5px; font-size:13px; font-weight:400; color:#616161; text-align:right;}
.text-area-wrap .count > span{color:var(--c-gray10);}



/* range box layout */
.range-box-layout{display:flex;}
.range-box-layout > *{flex:1;}
.range-box-layout > .center-txt, .range-box-layout > .unit{display:flex; align-items:center; justify-content:center; flex:none; font-size:var(--fs-t6); font-weight:400; color:var(--c-gray10);}
.range-box-layout > .center-txt{ width:20px;}
.range-box-layout > .unit{width:17px; justify-content:flex-end;}
.range-box-area{display:flex;}
.range-box-area > *{flex:1; width:5px;}
.range-box-area > *:first-child{ padding-right:3px;}
.range-box-area > *:last-child{ padding-left:2px;}


/* textarea */
.text-area-area > textarea{height:calc(100% - 20px);}

.f-a-center{display:flex; align-items:center;}


/* fixed-pop */
.fixed-pop.open{display:flex;}
.fixed-pop{position:fixed; top:0; left:0; right:0; bottom:0; z-index:50; display:none; align-items:center; justify-content:center; background:rgba(0,0,0,0.5);}




.pop-box{padding:20px; border-radius:4px; background:var(--c-white);}
.pop-top{position:relative; margin:0 0 16px 0;}
.pop-top > .tit{font-weight: 700; font-size:var(--fs-t5);}
.pop-close{position:absolute; top:0; right:0; width:20px; height:20px; font-size:0; background:url(../img/common/pop_close.svg) no-repeat center;}

/* .pop-con {max-height:calc(100vh - 300px); overflow:auto;} */
.pop-con {max-height:calc(100vh - 300px);}
.pop-con .nav-pills {border-bottom: 1px solid var(--c-gray5);}
.pop-con .nav-pills .nav-link {border-radius: 0.25rem 0.25rem 0 0; height: 30px; font-size: var(--fs-t6); background-color: var(--c-gray2); color: var(--c-gray9); line-height: 18px;}
.pop-con .nav-pills .nav-item + .nav-item {margin-left: 5px;}
.pop-con .nav-pills .nav-link.active, .nav-pills .show > .nav-link {background-color: var(--c-blue3); color: var(--c-white) }
.pop-con .search-bar {display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 10px}
.pop-con .search-bar .field {width: 452px;}
.pop-con .search-bar .total {font-size: var(--fs-t7); color: var(--c-gray10);}
.pop-con .search-bar .total span {font-size: var(--fs-t7); color: var(--c-blue3);}

/* table */
.pop-con .table-between {display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 10px}
.pop-con .table-between .table-layout + .table-layout {width: calc(100% - 340px);}

.pop-con .table-layout{overflow: unset}
.pop-con .table-layout > table{width:100%; font-size:13px; color:#212121; border-collapse:collapse;}
.pop-con .table-layout > table > thead > tr > th{font-weight: 700; font-size: 13px; background:#F0F0F0; height: 44px;}
.pop-con .table-layout td .search-list {height: 129px; margin: -7px -3px -5px; overflow: scroll;}
.pop-con .table-layout td .search-list li {border-bottom: 1px solid #E0E0E0; padding: 7px 3px 5px 2px; text-align: center; font-size: 13px;}
.pop-con .table-layout td .search-list li:first-of-type {border-top: 0;}

.pop-con .table-layout > table > tbody > tr:hover{background-color: unset;}
.pop-con .table-layout > table > tbody > tr > td {padding: 7px 3px 5px 3px}
.pop-con .table-layout > table > tbody > tr > td:hover{color: unset; text-decoration: unset;}

.pop-con .file-list {border: 1px solid #E0E0E0; border-radius: 5px; padding: 10px; margin: 10px 0 10px}
.pop-con .file-list ul {}
.pop-con .file-list ul li {display: flex; justify-content: space-between; align-items: center;}
.pop-con .file-list ul li p{font-size: 13px; color: #616161;}
.pop-con .file-list .del {width: 16px; height: 16px; background: url(../img/icon/input_clear.svg) no-repeat; }
.pop-con .file-list ul li:hover{background:#DBDBDB;}
.pop-con .file-list ul li.active{color:#fff; background:#3771F9;}
.pop-con .file-list ul li.active > p{color:#fff;}

/* custom-select */
.pop-con .custom-select {position: relative; display:inline-block; width: 150px; height:30px; margin: 0; padding: 0; vertical-align:top;}
.pop-con .custom-select select {display: none; /*hide original SELECT element: */}
.pop-con .custom-select .select-selected {position:absolute; left:0; right:0; background-color: var(--c-white); border: 1px solid var(--c-gray3); border-radius: 4px; height: 30px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; word-break:break-all}
.pop-con .custom-select .select-selected:after {position: absolute; content: ""; top: 7px; right: 10px; width: 16px; height: 16px; background: url(../img/icon/select_arrow.svg) no-repeat;}
.pop-con .custom-select .select-selected.select-arrow-active:after { top: 7px; /* background: url(../img/icon/select_arrow.svg) no-repeat; */}

.pop-con .custom-select .select-items div,
.pop-con .custom-select .select-selected {display:block; align-items:center; color: var(--c-gray10); font-size: var(--fs-t6); line-height:30px; padding:0 27px 0 7px; border-color: rgba(0, 0, 0, 0.1); cursor: pointer; text-align: left;}
.pop-con .custom-select .select-items {position: absolute;  border: 1px solid var(--c-gray5);  top: 38px; left: 0; z-index: 99; min-width:100%; border-radius: 4px; padding: 6px 0; background-color: var(--c-white);}
.pop-con .custom-select .select-hide {display: none;}
.pop-con .custom-select .select-items div:hover, .same-as-selected {background-color: rgba(0, 0, 0, 0.05);}

.pop-con .custom-select .select-selected.select-arrow-active {border-color: var(--c-gray10)}













/**/
.bottom-btn-area{margin-top:20px; text-align:center;}

/* */
.alert-box{padding:5px 0 25px; text-align:center; font-size:var(--fs-t6); color:#FF3B30;}
.alert-box:before{content:""; position:relative; top:-2px; display:inline-block; width:20px; height:20px; margin-right:6px; vertical-align:middle; background:url(../img/icon/icon_alert-box.svg) no-repeat center;}
.alert-box.normal{font-size:var(--fs-t6); color:var(--c-gray10);}
.alert-box.normal:before{display:none;}
/*   */
.layout-type02{display:flex;}
.layout-type02 .l, .layout-type02 .r{flex:1;}
.layout-type02 .c{display:flex; align-items:center; justify-content:center; width:100px;}
.layout-type02-top{display:flex; align-items:center; height:30px; margin-bottom:8px;}
.layout-type02-top .tit{font-size:var(--fs-t6); color:var(--c-gray10); font-weight:700;}
.layout-type02-top .field{flex:1; margin-left:6px;}
.layout-type02-con{height:300px;}

/* dummy-box */
.dummy-box{background:#D9D9D9;}

/**/
.btn-center-area{display:flex; align-items:center; justify-content:center; height:70px;}

.bottom-area-con{height:160px;}

.alert-con-box{padding:15px 0; font-weight: 400; font-size:var(--fs-t6); line-height: 20px; align-items: center; text-align: center; letter-spacing: -0.05em; color: var(--c-gray10);}

.guide_box{margin-top:20px;}
.guide_box > * + *{margin-left:5px;}




.table-layout-type01{height:131px; overflow:overlay; border:1px solid #E0E0E0; border-width:0 1px 1px 0px;}
.table-layout-type01{-ms-overflow-style: none;}
.table-layout-type01::-webkit-scrollbar{display:none;}
.table-layout-type01{scrollbar-width:hidden;}

.pop-con .table-layout td .search-list{height:131px; overflow:overlay; border:1px solid #E0E0E0; border-width:0;}
.pop-con .table-layout td .search-list{-ms-overflow-style: none;}
.pop-con .table-layout td .search-list::-webkit-scrollbar{display:none;}
.pop-con .table-layout td .search-list{scrollbar-width:hidden;}


.pop-con .table-layout-type01 .table-layout > table > tbody > tr > td:first-child{border-left-width:0;}
.pop-con .table-layout-type01 .table-layout > table > tbody > tr > td:last-child{border-right-width:0;}
.pop-con .table-layout-type01 .table-layout > table > tbody > tr:nth-child(1n + 5):last-child > td{border-bottom-width:0;}




  /* 메인 추가 */
.main-top {height:681px;padding-top:90px; background-image:url(../img/common/top-BG-big2.png);}
.main-img {display:block;margin:0 auto; width:1578px;height:570px; background-image:url(../img/common/top.png);}
.main-bttm {padding-top:60px; padding-bottom:78px; background-color: #F5F5F5;}
.main-img2 {display:block;margin:0 auto; width:1578px;height:1119px;background-image:url(../img/common/bttm.png);}



/* main */
.main-inner-wrap{width:1520px; margin: 0 auto;}


.main-top{position:relative; display:flex; align-items:flex-start;}
.main-top > .main-inner-wrap > .top, .main-top > .main-inner-wrap > .both{position:relative; display:flex; justify-content:space-between; align-items:flex-start; }
.main-top > .main-inner-wrap > .both{margin-top:32px;}
.main-visual-tit{flex:1;}
.main-visual-tit > h2{font-family: 'SamsungOne'; font-style: normal; font-weight: 700; font-size: 58px; line-height: 70px; color: #FFFFFF;}
.main-visual-tit > a{display:inline-block; margin:12px 0 0 0; padding:6px 12px 5px 12px; border:1px solid #fff; border-radius:30px; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 20px; line-height: 24px; color: #FFFFFF;}
.main-my-box{display:flex; flex-direction:column; width:356px; height: 164px; left: 0px; border-radius:10px; background:#3771F9;}
.main-my-box > div{flex:1;}
.main-my-box > .top{display:flex; align-items:center; justify-content:flex-start; padding:0 0 0 24px; font-family: 'SamsungOne'; font-style: normal; font-weight: 700; font-size: 24px; color:#fff;}
.main-my-box > .both{border-radius:0 0 10px 10px; background:rgba(0, 0, 0, 0.1);}
.main-my-box > .both > dl{display:flex; justify-content:space-between; align-items:stretch; height:100%; padding:0 24px;}
.main-my-box > .both > dl > dt, .main-my-box > .both > dl > dd{display:flex; align-items:center; }
.main-my-box > .both > dl > dt{font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 16px; color:#fff}
.main-my-box > .both > dl > dd > span{flex:1; font-family: 'SamsungOne'; font-style: normal; font-weight: 700; font-size: 36px;}
.main-my-box > .both > dl > dd > span.n1{position:relative; color:#FAFF00;}
.main-my-box > .both > dl > dd > span.n1.circle:after{content:""; position:absolute; top:7px; right:-8px; width:6px; height:6px; border-radius:100%; background:#FF6D65;}
.main-my-box > .both > dl > dd > span.n2{color:#fff;}

.icon-gap-unit{display:inline-block; width:15px; height:29px; margin:0 12px 0 20px; background:url(../img/icon_gap_unit.svg) no-repeat center;}

.main-top-tit-area{position:relative; height:53px; margin:24px 24px 0 24px; box-sizing:content-box;}
.main-top-tit-area > h3{font-family: 'SamsungOne'; font-style: normal; font-weight: 700; font-size: 24px; color:#212121; }
.main-top-tit-area > a{position:absolute; top:0; right:0; padding:0 15px 0 0; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 16px; color:#212121; background:url(../img/main-top-tit-quick-arr.svg) no-repeat center right;}
.main-top-tit-area.t2{height:45px;}

.main-top-con-area{display:flex; flex:1; overflow:auto; padding:0 24px 24px;}
.main-top-con-area.t2{flex:none; padding-bottom:0; overflow:visible;}
.main-visual-list{flex:1;}
.main-visual-list > li > a{display:flex; justify-content:space-between; align-items:center; height:42px; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 16px; color:#212121; border-bottom:1px solid #e0e0e0;}
.main-visual-list > li > a > p{flex:1; width:10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.main-visual-list > li > a > .date{width:90px; text-align:right;}
.main-visual-list > li > a > .date.file{width:105px;}
.main-visual-list > li > a > .date.file:before{content:""; position:relative; top:0; display:inline-block; width:10px; height:11px; margin-right:5px;  background:url(../img/icon-file.svg) no-repeat center;}


.main-notice, .main-monthly, .main-bookmark-quicklink{display:flex; flex-direction:column;}
.main-notice, .main-monthly{width:550px; height:335px;  border-radius:10px; background:#fff;}
.main-bookmark-quicklink{width:356px; height:335px;  border-radius:10px; background:#fff;}

.main-con-tit{font-family: 'SamsungOne'; font-style: normal; font-weight: 700; font-size: 42px;}

.main-monthly-box-left{display:flex; justify-content:space-between; align-items:flex-start; flex-wrap:wrap; flex:1; padding:0 12px 0 0;}
.main-monthly-box-left > dl, .main-monthly-box-right > dl{display:flex; flex-direction:column; height:calc(50% - 6px); padding:15px 19px 10px; border-radius:10px;}
.main-monthly-box-left > dl > dt, .main-monthly-box-right > dl > dt{flex:1; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 20px; color:#212121;}
.main-monthly-box-left > dl > dd, .main-monthly-box-right > dl > dd{flex:1; display:flex; justify-content:flex-end; align-items:flex-end; font-family: 'SamsungOne'; font-style: normal; font-weight: 700; font-size: 28px; text-align:right;}
.main-roundbox-layout1 > dd{color: #2A63A7;}
.main-roundbox-layout2 > dd{color: #7445A2;}
.main-roundbox-layout2 + .main-roundbox-layout2 > dd{color: #2F6E57;}
.main-roundbox-layout1{width:100%; background: #E9F7FF;}
.main-roundbox-layout2{width:calc(50% - 6px); margin-top:6px; background: #ECEAF4;}
.main-roundbox-layout2 + .main-roundbox-layout2{background: #E2EFE8;}
.main-monthly-box-right{width:234px; border-radius: 10px;}
.main-monthly-box-right > dl{height:100%; background: #F5F5F5;}
.main-monthly-box-right > dl > dt{height:24px; flex:auto; text-align:center;}

[class ^= main-layout-box]{display:flex; align-items:stretch; justify-content:space-between; margin:32px 0 0 0;}
[class ^= main-layout-box] > div{box-shadow:3.32px 9.96px 24.9px 4.15px rgba(0, 0, 0, 0.05); border-radius:10px; background:#fff;}

.main-layout-box3{height:180px;}
.main-layout-box3 > div{width:486px;}

.main-layout-box1 > div{flex:1; height:344px;}

.main-layout-box2 > div{width:744px; height:402px;}


.tail_arr{background:url(../img/tail_arr.svg) no-repeat center right;}

.select-box-big{position:relative; display:inline-block; width:100%; height:40px;}
.select-box-big > .tit{position:relative; z-index:5; display:flex; height:40px; justify-content:flex-start; align-items:center; width:100%; padding:0 40px 0 15px; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 16px; color:#212121; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; border:1px solid #e0e0e0; border-radius:50px; background:#fff;}
.select-box-big > .tit > a{display:block; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 16px; color:#212121; text-overflow:ellipsis;}
.select-box-big > .tit:after{content:""; position:absolute; top:20px; right:15px; width:20px; height:20px; transform:translate(0,-50%); background:url(../img/bigSelArr.svg) no-repeat center;}
.select-box-big > .list{position:absolute; top:26px; left:0; right:0;  z-index:1; height:0; overflow:hidden; transition:height ease 0.5s;}
.select-box-big > .list > div{position:absolute; bottom:0; right:0; left:0; padding:18px 0 0 0; border:1px solid #ededed; border-width:0 1px 1px 1px; border-radius:0 0 10px 10px; background:#fff;}
.select-box-big > .list ul{}
.select-box-big > .list ul > li{display:flex; align-items:center; padding:0 20px; width:100%; height:30px; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 14px; color:#212121; border-bottom:1px solid #ededed;}
.select-box-big > .list ul > li > a{display:block; color:#212121;}
.select-box-big > .list ul > li:last-child{border-bottom-width:0;}


/* booklink */
.outer_box.main #booklink{min-width:1520px;}
#booklink{position:fixed; top:50px; left:0; bottom:0; z-index:10000000; display:none; width:100%; transform:translate(-100%,0); background:rgba(0,0,0,0.5);}
#gnb .menu-wrap #icon:checked + label + #booklink{display:block; transform:translate(0,0);}
#booklink > .inner-wrap{position:relative; display:flex; padding:40px 0 30px 70px; border-top: 1px solid #E0E0E0; background:#fff;}
.bookmark-left-area{width:298px;}
.bookmark-left-area > h2{font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 28px; color: #212121;}
.menu-folder{margin-top:30px;}

.bookmark-right-area{flex:1; overflow:autl;}
.bookmark-list{display:flex;}
.bookmark-list > li{width:200px;}
.bookmark-list > li + li{margin-left:53px;}
.bookmark-tit{padding:0 0 10px 0; font-family: 'SamsungOne'; font-style: normal; font-weight: 700; font-size: 18px; color:##212121; border-bottom:1px solid #E0E0E0;}
.bookmark-tit:before{content:""; display:inline-block; width:24px; height:24px; margin:0 9px 0 0; vertical-align:middle; background:url(../img/bookmark_i_layer.svg) no-repeat center;}
.bookmark-tit.i-tv:before{background-image:url(../img/bookmark_i_tv.svg);}
.bookmark-tit.i-book:before{background-image:url(../img/bookmark_i_book.svg);}
.bookmark-tit.i-rectangle:before{background-image:url(../img/bookmark_i_rectangle.svg);}
.bookmark-tit.i-report:before{background-image:url(../img/bookmark_i_report.svg);}


.pop-con .table-layout.t2 > table > thead > tr > th{padding:0;}
.pop-con .table-layout.t2 td .search-list li{padding:0; height:32.5px;}
.pop-con .table-layout.t2 td:first-child{border-left-width:0;}
.pop-con .table-layout.t2 th:first-child{border-left-width:0;}

.flex-th{display:flex; align-items:stretch; height:100%;}
.flex-th > div{display:flex; align-items:center; justify-content:center; flex:1; width:1px;}
.flex-th > div > p{display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.flex-th > div.check{width:60px; flex:none;}
.flex-th > div + div{border-left:1px solid #eded;}

.pop-con .table-layout td .search-list li:last-child{border-bottom-width:0;}

.flex-th > div.check .input-box input[type = checkbox] + i{margin:0;}


/**/
#siple-pop-info{position:absolute; left:0; right:0; top:50px; z-index:1;}
#siple-pop-info > .inenr-wrap{display:flex; align-items:center; justify-content:space-between; height:50px; padding:0 20px 0 70px; background:#212121;}
#siple-pop-info > .inenr-wrap > .l{display:flex; flex:1; width:1px;}
#siple-pop-info > .inenr-wrap > .l > a{display:block; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 19px; color:#fff; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
#siple-pop-info > .inenr-wrap > .l > a > span{display:inline-block; width:34px; height:20px; margin:0 12px 0 0; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 14px; color:#fff; text-align:center; border-radius: 2px; background: #FF3B30;}
#siple-pop-info > .inenr-wrap > .r{width:165px;}
#siple-pop-info > .inenr-wrap > .r > label{font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 13px; color:#fff;}
#siple-pop-info > .inenr-wrap > .r > label > input{position:relative; top:2px; margin:0 6px 0 0;}
#siple-pop-info > .inenr-wrap > .r > button{position:relative; top:-1px; width:16px; height:16px; margin:0 0 0 24px; font-size:0; vertical-align:middle; outline:none;  border:none; background: url(../img/icon-simple-close.svg) no-repeat center;;}


/* dashboard */
.dashboard-card-wrap{position:relative; overflow:hidden;}
.dashboard-card-wrap > .inner-wrap{position:relative; left:-20px; display:flex; width:calc(100% + 20px);}
.dashboard-card-wrap > .inner-wrap > div{flex:1; margin-left:20px;}
.dash-card{position:relative; display:flex; flex-direction:column; height:86px; padding:12px 12px 12px 18px;; border: 1px solid #E0E0E0; border-width:1px 1px 1px 5px; border-radius: 6px;}
.dash-card.c-b{border-left-color:#3771F9;}
.dash-card.c-g{border-left-color:#2F995D;}
.dash-card > div{flex:1; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 13px; color: #212121; line-height:1;}
.dash-card > .l{display:flex; flex-direction:column;}
.dash-card > .l > .t1{font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 13px; color: #212121;}
.dash-card > .l > .t2{margin-top:5px; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 11px; color: #757575;}
.dash-card > .r{position:absolute; bottom:12px; right:12px; display:flex; align-items:flex-end; justify-content:flex-end; font-size:16px; color:#212121;}
.dash-card > .r > b{font-size:32px; vertical-align:top; line-height:0.7;}

.dummy-gray-box{height: 200px; border-radius: 5px; background: #EEEEEE;}


.search-input{display:flex;}
.search-input > .field{flex:1;}
.search-input > button{width:30px; margin-left:8px;}


.search-list-box{overflow:overlay;}
.search-list-box .icon-bookmark{font-size: 14px; color: #3771F9;}
.search-list-box ul > li{display:flex; align-items:center;}
.search-list-box ul > li + li{margin-top:12px;}
.search-list-box ul > li > .icon-bookmark{ margin-right:24px; font-size: 14px; color: #3771F9;}
.search-list-box ul > li > a{font-family: 'Noto Sans KR'; font-style: normal; font-weight: 400; font-size: 14px; color: #212121;}
.search-list-box ul > li > a > span{color:#3771F9;}




.list-table-top{display:flex; align-items:center; justify-content:space-between;}
.list-table-top > .total{font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 12px; color: #212121;}
.list-table-top > .total > span{color:#3771F9;}
.list-table-top > .input{display:flex; align-items:flex-start;}
.list-table-top > .input > div{margin-left:6px;}
.list-table-top > .input > button{margin-left:15px;}



.list-table-wrap .head .row-box, .list-table-wrap .body > ul{display:flex;}
.list-table-wrap .head .row-box .cell, .list-table-wrap .body .row-box .cell{display:block; width:1px; height:40px; padding:0 5px; font-family: 'SamsungOne'; font-style: normal; font-weight: 700; font-size: 13px; color: #212121; text-align:center; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:40px;}
.list-table-wrap .head .row-box .cell > a, .list-table-wrap .body .row-box .cell > a{color: #212121;}
.list-table-wrap .head .row-box .cell{border-top:1px solid #212121; border-bottom:1px solid #212121;}
.list-table-wrap .body .row-box .cell{font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 14px; color: #212121; border-bottom:1px solid #e0e0e0;}
.list-table-wrap .body .row-box:last-child .cell{border-bottom-width:0;}
.list-table-wrap .body{overflow:overlay; border-bottom:1px solid #e0e0e0;}
.list-table-wrap .body:first-of-type{border-top:1px solid #e0e0e0;}

.list-table-wrap .t-l{text-align:left !important;}
.list-table-wrap .t-c{text-align:center !important;}
.list-table-wrap .t-r{text-align:right !important;}


.rec-label{display:inline-block; padding: 0px 4px; height: 18px; border-radius: 2px; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 13px; line-height:18px; color:#fff; vertical-align:middle; background: #588AFF;}
.list-count-circle{position:relative; top:-2px; display:inline-block; height:20px; margin:0 0 0 6px; padding: 1px 6px; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 13px; color: #3771F9; line-height:20px; vertical-align:middle; border: 1px solid #DCE8F6; border-radius: 100px;}
.list-icon-file{position:relative; display:inline-block; width:12px; height:12px; margin:0 0 0 6px; background:url(../img/icon-list-file.svg) no-repeat center;}

.navigation.center{display:flex; justify-content:center;}


.notice-detail-tit{padding:16px 0 0 0; border-top:1px solid #212121; font-family: 'SamsungOne'; font-style: normal; font-weight: 700; font-size: 16px; color: #212121;}

.notice-detail-user-info{display:flex; margin-top:6px; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 13px; color: #757575;}
.notice-detail-user-info > i{margin:0 6px 0 12px;}
.notice-detail-user-info > i:first-child{margin-left:0;}

.g-icon-person{display:inline-block; width:16px; height:16px; background:url(../img/icon-g-person.svg) no-repeat center;}
.g-icon-timer{display:inline-block; width:16px; height:16px; background:url(../img/icon-g-timer.svg) no-repeat center;}
.g-icon-eye{display:inline-block; width:16px; height:16px; background:url(../img/icon-g-eye.svg) no-repeat center;}


/* table */
.tableType-rect{margin-top:16px;}
.tableType-rect dl{display:flex;}
.tableType-rect dl > *{display:flex; align-items:center; flex:1; height: 40px; padding:0 12px; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 14px; border-style:solid; border-color:#E0E0E0; border-width:1px 0;}
.tableType-rect dl > dt{background: #F5F5F5;}
.tableType-rect table{width:100%; border-collapse:collapse;}
.tableType-rect table th, .tableType-rect table td{height:40px; padding:0 12px; vertical-align:middle; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 14px; color:#212121; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0;}
.tableType-rect table th{background:#F5F5F5;}

.notice-detail-con{padding:20px 0; overflow:overlay; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 14px; color: #212121;}

.file-rect-box{display:flex; align-items:center; height:40px; padding:0 12px; border: 1px solid #E0E0E0;}
.file-rect-box > .tit{width:60px; font-family: 'SamsungOne'; font-style: normal; font-weight: 700; font-size: 14px; color: #212121;}
.file-rect-box > a{flex:1; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 14px; color: #212121;}
.file-rect-box > a:hover{text-decoration:underline;}

.btn-set.r, .right-area .top-menu .btn-set.r{justify-content:flex-end;}


.required-icon{display:inline-block; width:10px; height:12px; margin:0 0 0 2px; background:url(../img/icon-required.svg) no-repeat;}


.color-red{color:var(--c-red) !important;}

.form-file{margin-top:20px;}
.form-file  > .top{display:flex; justify-content:space-between;}
.form-file  > .top > .tit{font-family: 'SamsungOne'; font-style: normal; font-weight: 700; font-size: 14px; color: #212121;}
.form-file  > .top > .volume{font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 13px; color: #212121;}
.form-file  > .top > .volume .p{color:#757575;}
.form-file  > .file-list-none{display:flex; align-items:center; justify-content:center; height:60px; margin:16px 0 0; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 14px; color: #757575; border: 1px solid #E0E0E0;}
.form-file  > .file-list-box{margin:16px 0 0; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 14px; color: #757575; border: 1px solid #E0E0E0;}
.form-file  > .file-list-box > .head{display:flex; justify-content:flex-start; align-items:center; flex:1; height:40px; padding:0 13px; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 13px; color: #212121; background:#F5F5F5;}
.form-file  > .file-list-box > ul{flex:1;}
.form-file  > .file-list-box > ul > li{flex:1; height:40px; display:flex; justify-content:flex-start; align-items:center; padding:0 13px; font-family: 'SamsungOne'; font-style: normal; font-weight: 400; font-size: 13px; color: #212121;}
.form-file  > .file-list-box > ul > li .input-box{font-size:14px; color:#212121;}
.form-file  > .file-list-box > ul > li .input-box > span{color:#757575;}
.form-file  > .file-list-box > ul > li + li{border-top:1px solid #E0E0E0;}
.form-file  > .file-list-box .input-box i{top:0;}

.btn-outline-secondary.small{width:auto; height:20px !important; margin:0 0 0 12px; padding:0 0; font-size: 11px; color:#212121;}

.rect-gab{display:inline-block; width:1px; height:11px; margin:0 12px; background:#E0E0E0;}