@charset "utf-8";
.outer_box{
  width:100%;
  min-width:1400px;
  height:100vh;
}


/* GNB */
#gnb {height:50px; display: flex; justify-content: space-between; align-items: center;}

#gnb .left-item { display: flex; justify-content: space-between; align-items: center; height: 100%;}

#gnb .menu-wrap {width: 50px; height: 100%; position: relative; border-right: 1px solid var(--c-gray5); margin-right: 20px}
#gnb .menu-wrap input[id="icon"] {display:none;} 
#gnb .menu-wrap input[id="icon"] + label{position: absolute; top:0; left:0; display:block; padding: 17px 15px; width:50px; height:50px; cursor:pointer; z-index: 2;} 
#gnb .menu-wrap input[id="icon"] + label > span {display:block; width:100%; height:2px; background: var(--c-black); transition: all 0.35s; }
#gnb .menu-wrap input[id="icon"] + label > span + span {margin-top: 6px}
#gnb .menu-wrap input[id="icon"]:checked + label > span:nth-child(1) { transform:translateY(-50%) rotate(45deg); margin-top: 11px; background-color: var(--c-white);}
#gnb .menu-wrap input[id="icon"]:checked + label > span:nth-child(2) {opacity: 0;}
#gnb .menu-wrap input[id="icon"]:checked + label > span:nth-child(3) { transform:translateY(50%) rotate(-45deg); margin-top: -12px; background-color: var(--c-white);}

#gnb .menu-wrap #icon + label + .side-menu {position:fixed; width:300px; height:100%; background:#333; top:0px; padding:60px 25px 25px 25px; box-sizing:border-box; left:-300px; z-index:1; transition: all 0.35s;}
#gnb .menu-wrap #icon:checked + label + .side-menu {left:0px;}
#gnb .menu-wrap #icon:checked + label + .side-menu > ul > li > a {color: white;}

#gnb .gnb-menu ul {display: flex; justify-content: space-between; align-items: center;}
#gnb .gnb-menu ul li {margin-left: 30px;}
#gnb .gnb-menu ul li.active a {color: var(--c-blue3);}
#gnb .gnb-menu ul li a {font-family: var(--font); font-size: var(--fs-t3); font-weight: 700; color: var(--c-gray10); text-decoration: none;}
#gnb .gnb-menu ul li a:hover {color: var(--c-blue3);}


#gnb .right-item { display: flex; justify-content: space-between; align-items: center; height: 100%; padding-right: 20px;}


#gnb .right-item .txt-menu { margin-left: 20px;}
#gnb .right-item .txt-menu ul {display: flex; justify-content: space-between; align-items: center;}
#gnb .right-item .txt-menu ul li {display: flex; justify-content: space-between; align-items: center;}
#gnb .right-item .txt-menu ul li::before {display: block; content:''; width: 1px; height: 17px; background: var(--c-gray5); margin: 0 5px 0}
#gnb .right-item .txt-menu ul li:first-of-type::before {display: none;}
#gnb .right-item .txt-menu ul li a {font-size: var(--fs-t6); color: var(--c-gray10);}

#gnb .right-item .login-area {margin-left: 20px; position: relative; display: flex; justify-content: center; align-items: center;}
#gnb .right-item .login-area.active .user-info {display: block;}
#gnb .right-item .login-area .user {width: 24px; height: 24px; background: url(../img/icon/user.svg); padding: 0; margin: 0;}


#gnb .right-item .login-area .user-info {display: none; position: absolute; top: 35px; left: 50%; transform: translate( -50%, 0);  width: auto;  border: 1px solid var(--c-gray5); z-index: 1; background: var(--c-white); border-radius: 4px; padding: 10px;}
#gnb .right-item .login-area .user-info .time {display: flex; justify-content: flex-start; align-items: center; font-size: var(--fs-t7); color:  var(--c-gray9); line-height: 12px;}
#gnb .right-item .login-area .user-info .time::before {display: block; content: ''; width: 24px; height: 24px; background: url(../img/icon/clock.svg) no-repeat; margin-right: 5px;}

#gnb .right-item .login-area .user-info .info {margin-top: 10px; margin-bottom: 15px;}
#gnb .right-item .login-area .user-info .info .t1 {font-size: var(--fs-t8); color: var(--c-gray10);}
#gnb .right-item .login-area .user-info .info .t2 {font-size: var(--fs-t7); color: var(--c-gray10); margin-top: 2px;}


#gnb .right-item .custom-select {margin-left: 20px;}
#gnb .right-item .end-box {font-size: var(--fs-t9); color: var(--c-blue3); margin-left: 20px;}





#content{height:calc(100% - 74px); font-size:0; white-space:nowrap;}
#content > .content_wrap{position:relative; display:inline-block; width:calc(100% - 280px); height:100%; vertical-align:top; overflow:auto; background:#fff;}
#content > .content_wrap > .row{padding:0; margin:0; width:100%; height:100%;}
#content > .content_wrap > .row > .right-area{width:100%; min-width:auto; height:100%; margin:0; padding:0;}
#content > .content_wrap > .row > .right-area > .top-menu{height:100%;}
#content > .content_wrap > .row > .right-area > .top-menu > .tab-content{height:calc(100% - 39px); padding:20px 7px 0 20px; overflow:auto;}
#lnb{position:relative; display:inline-block; width:280px; height:100%; font-size:12px; border-right:1px solid #DBDBDB;}

.content-layout-type{height:calc(100% - 40px);}
.content-layout-type > .tab-pane{min-width:1340px; height:100%;}
.content-layout-type > .tab-pane > .content-tab{height:calc(100% - 40px); overflow:auto;}

#lnb .lnb_wrap{position:relative; top:0; right:0; height:100%;}
.lnb_tab{width:100%; height:100%;}
.lnb_tab_tit{display:flex; height:40px; border-bottom:1px solid #E0E0E0; background:#DCE8F6;}
.lnb_tab_tit > ul{display:flex; width:100%; height:100%;}
.lnb_tab_tit > ul > li{position:relative; display:flex; align-items:center; justify-content:center; flex:1; cursor:pointer; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:14px; font-weight:400; line-height:16.76px; letter-spacing:-5%; overflow:visible;}
.lnb_tab_tit > ul > li.active{color:#3771F9; font-weight:bold;}
.lnb_tab_tit > ul > li.active:before{content:""; position:absolute; left:calc(50% - 2px); bottom:-3px; width:13px; height:13px; border-style:solid; border-width:1px 1px 0 0; border-color:#E0E0E0; transform:rotate(-45deg) translate(calc(-50%),0) skew(-5deg, -5deg); background:#fff;}
.lnb_tab_tit > ul > li:hover{text-decoration:underline;}
.lnb_tab_tit > ul > li:nth-child(1n + 2):after{content:""; position:absolute; top:50%; left:0; width:1px; height:20px; transform:translate(0,-50%); background:#BCC7D2;}
.lnb_tab_con{position:relative; z-index:1; height:calc(100% - 40px); overflow:auto; background:#F4F6FB;}
.lnb_tab_con > ul{height:100%;}
.lnb_tab_con > ul > li{display:none; height:100%; overflow:auto;}
.lnb_tab_con > ul > li.open{display:block;}

.lnb_thumb{position:absolute; top:0; bottom:0; right:-20px; z-index:10; display:flex; align-items:center; justify-content:center; width:20px; opacity:0.4; transition:opacity ease 0.5s background-color ease 0.5s; cursor:col-resize;}
.lnb_thumb:hover{opacity:1; background:rgba(255,255,255,0.3);}
.lnb_thumb:before,.lnb_thumb:after{content:""; width:1px; height:12px; border-radius:1px; background:#212121;}
.lnb_thumb:after{margin-left:4px;}






.lnb_menu .tit:hover{text-decoration:underline;}
.lnb_menu ul{display:none;;}
.lnb_menu > ul{display:block;}
.lnb_menu ul > li{position:relative;}
li.active > .tit{font-weight:700;}
.lnb_menu > ul > li{ border-bottom: 1px solid #DBDBDB;}
.lnb_menu > ul > li > .menu_wrap:after, .lnb_menu > ul > li > .menu_wrap:before{display:none;}

.lnb_menu .tit{position:relative; display:flex; align-items:center; font-family: var(--font); font-weight: 400; font-style: normal; font-size:16px; color:var(--c-black); cursor:pointer; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.lnb_menu > ul > li > .tit{ display:flex; align-items:center; height:40px;  padding:0 16px; font-family: var(--font); font-style: normal; font-weight: 700; font-size: 18px; line-height: 22px; color: #000000; border-bottom:1px solid #DBDBDB;}
.lnb_menu > ul > li > .menu_wrap > ul > li > .tit{height:40px; padding-left:20px;}

.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .tit{padding-left:30px; height:30px; font-size:14px;}
.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li.active > .tit{color:#3771F9;}
.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .tit{height:30px; padding-left:46px; font-size:14px;}
.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li:before{content:""; position:absolute; top:0; bottom:0; left:30px; width:1px; background:#DBDBDB;}
.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li.active:before{background:#3771F9;}

li.active > .menu_wrap > ul{display:block;}





.menu_wrap{position:relative;}

.menu_wrap:before{content:""; position:absolute; top:-28px; right:15px; width:1px; height:12px; transform-origin:0; transform:rotate(0deg); transition:transform ease 0.5s; background:#212121;}
.menu_wrap:after{content:""; position:absolute; top:-22px; right:10px;; width:12px; height:1px; background:#212121;}
.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap:before{top:-25px;}
.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap:after{top:-19px;}

.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .menu_wrap:before{top:-22px;}
.lnb_menu > ul > li > .menu_wrap > ul > li > .menu_wrap > ul > li > .menu_wrap:after{top:-16px;}

.active > .menu_wrap:before{ transform:rotate(90deg);}
.menu_wrap > ul{overflow:hidden; transition:height ease 0.5s;}
.noTransition .menu_wrap > ul{transition:none;}

#footer{display:flex; align-items:center; justify-content:space-between; height:24px; padding:0 20px; border-top: 1px solid #E0E0E0; background:var(--c-white);}
#footer span{color:#616161; font-size:12px;}
.f_icon_moniter{display:flex; align-items:center;}
.f_icon_moniter:before{content:""; display:inline-block; width:16px; height:16px; margin-right:6px; background:url(../img/footer_img.svg) no-repeat; background-size:cover;}

/* bookmark */
.bookmark{position:relative; padding:0 0 0 20px; cursor:pointer;}
.bookmark i{position:absolute; top:calc(50% - 7px); left:0; width:14px; height:14px; background:url(../img/icon/icon_bookmark.svg) no-repeat center;}
.bookmark input:checked + i{background-image:url(../img/icon/icon_bookmark_checked.svg);}
.bookmark input{position:fixed; top:-1000%; left:-1000%;}
.bookmark:hover{text-decoration:underline;}

/* latestMenu */
.latestMenu{position:relative; padding:0 0 0 20px; cursor:pointer;}
.latestMenu i{position:absolute; top:calc(50% - 7px); left:0; width:14px; height:14px; background:url(../img/icon/icon_latestMenu.svg) no-repeat center;}
.latestMenu input:checked + i{background-image:url(../img/icon/icon_latestMenu_checked.svg);}
.latestMenu input{position:fixed; top:-1000%; left:-1000%;}
.latestMenu:hover{text-decoration:underline;}

.lnb_bookMark, .lnb_latestMenu{position:absolute; top:0; left:-100%; bottom:0; width:100%; padding:21px 13px 0 13px; font-size:14px; font-weight:400;  overflow:auto; background:#fff;}
.lnb_bookMark.active, .lnb_latestMenu.active{left:0;}
.lnb_bookMark > ul > li + li, .lnb_latestMenu > ul > li + li{margin-top:12px;}



.text-area-wrap .count{margin-top:5px; font-size:13px; font-weight:400; color:#616161; text-align:right;}
.text-area-wrap .count > span{color:#212121;}



/* range box layout */
.range-box-layout{display:flex;}
.range-box-layout > *{flex:1;}
.range-box-layout > .center-txt, .range-box-layout > .unit{display:flex; align-items:center; justify-content:center; flex:none; font-size:14px; font-weight:400; color:#212121;}
.range-box-layout > .center-txt{ width:20px;}
.range-box-layout > .unit{width:17px; justify-content:flex-end;}
.range-box-area{display:flex;}
.range-box-area > *{flex:1;}
.range-box-area > *:first-child{ padding-right:3px;}
.range-box-area > *:last-child{ padding-left:2px;}


/* textarea */
.text-area-area > textarea{height:calc(100% - 20px);}

.f-a-center{display:flex; align-items:center;}


/* fixed-pop */
.fixed-pop.open{display:flex;}
.fixed-pop{position:fixed; top:0; left:0; right:0; bottom:0; z-index:10000000; display:none; align-items:center; justify-content:center; background:rgba(0,0,0,0.5);}
.pop-box{padding:20px; border-radius:4px; background:#fff;}
.pop-top{position:relative; margin:0 0 10px 0;}
.pop-top > .tit{font-weight: 700; font-size: 16px;}
.pop-close{position:absolute; top:0; right:0; width:20px; height:20px; font-size:0; background:url(../img/common/pop_close.svg) no-repeat center;}


/**/
.bottom-btn-area{margin-top:20px; text-align:center;}

/* */
.alert-box{padding:5px 0 25px; text-align:center; font-size:14px; color:#FF3B30;}
.alert-box:before{content:""; position:relative; top:-2px;  display:inline-block; width:20px; height:20px; margin-right:6px; vertical-align:middle; background:url(../img/icon/icon_alert-box.svg) no-repeat center;}