@charset "utf-8";
@import url(font.css);
@import url(common.css);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, 
footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse; border-spacing: 0;}

button, input, optgroup, select, textarea {
    font-family: inherit; 
    font-size: 100%; 
    color: inherit; 
    line-height: normal; 
    padding:0; 
    margin: 0; 
    background: transparent; 
    border: 0; 
    cursor: pointer;
}

legend, caption, .isBlind{
    position: absolute !important;
    left: 0rem !important;
    top: 0rem !important;
    width: 1rem !important;
    height: 1rem !important; 
    opacity: 0 !important; 
    overflow: hidden;
    margin-left: -1rem !important;
    border: 0 none !important;
    background: transparent !important;
    color: transparent !important;
}


html {font-size: 1px;}
html, body {height: 100%;}

body { 
    width: 100%; 
    font-family: Pretendard, sans-serif; 
    font-weight: 400; 
    font-size: var(--fs-t7);
    color: var(--c-gray10); 
    letter-spacing: -0.45rem; 
    line-height: 1.33; 
    overflow: auto; 
    /* min-width: var(--min-width);  */
    /* background-color: var(--c-white);  */
    /* min-height: 100vh; */
    
    /* IOS 페딩값 
        padding-top: env(safe-area-inset-top);
        padding-top: constant(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
        padding-bottom: constant(safe-area-inset-bottom); 
    */
}